@keyframes circle_move {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(180deg);
  }

  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rec_move {
  0% {
    transform: scaleY(1);
  }

  15% {
    transform: scaleY(2);
  }

  30% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
body {
  height: 70vh;
  margin-top: 100px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.load_msg {
  margin-bottom: 100px;
}
.circle_box {
  animation: circle_move 2s ease-in-out infinite;
  width: 200px;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.circle {
  background-color: white;
  width: 10px;
  height: 10px;

  border-radius: 50%;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  color: teal;
  font-weight: bold;
  font-size: 30px;
}
footer {
  width: 300px;
  display: flex;
  align-items: center;
}

.rec {
  background-color: white;
  width: 20%;
  margin: 10px;
  height: 100px;
}

.rec:nth-child(1) {
  animation: rec_move 1s linear infinite;
  animation-delay: 0s;
}
.rec:nth-child(2) {
  animation: rec_move 1s linear infinite;
  animation-delay: 100ms;
}
.rec:nth-child(3) {
  animation: rec_move 1s linear infinite;
  animation-delay: 200ms;
}
.rec:nth-child(4) {
  animation: rec_move 1s linear infinite;
  animation-delay: 250ms;
}
.rec:nth-child(5) {
  animation: rec_move 1s linear infinite;
  animation-delay: 300ms;
}
