.nav {
  background-color: #f9f9fa;
  padding: 20px 40px; /* 여기 보고 느끼는거 없냐?*/
  box-sizing: border-box;
  border-top: 0.5px solid rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;
  z-index: 1;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
}
.nav__notification {
  /* 여길 보고 느끼는거 없냐?
    1. absolute의 원리*/
  animation: Messagenumber 1s ease-in-out infinite;
  position: absolute;
  left: 15px;
  top: -15px;
}

.nav__notification__circle {
  position: absolute;
  left: 8px;
  top: -10px;
}
