.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 45px;
}

.screen-header__title {
  font-size: 42px;
  font-weight: 900;
}

.screen-header__icons span {
  margin-left: 25px;
}
